# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# User-specific files
appsettings.json
appsettings.Development.json

# Docker
.docker/

# OS files
.DS_Store
Thumbs.db

# Databases & local data
postgres_data/
*.db
*.sqlite

# React Client
client/node_modules/
client/dist/
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
